@(posts: List[Post],tag:String)
 
@main(title = "Posts tagged with " + tag) {
<div id="newPost">
    @posts match {
        case List(post) => {
            <h3>There is one post tagged '@tag'</h3>
        }
        case Nil => {
            <h3>No post tagged '@tag'</h3>
        }
        case x => {
            <h3>There are @posts.length posts tagged '@tag'</h3>
        }
    }
    
    <ul>
        @posts.map { post =>
        <li><a href="@routes.Application.show(post.id.get)">@post.title</a> <em>@post.postedAt.format("dd/MM/yyyy")</em>
        </li>
        }
    </ul>
</div>
}
