@(
post:(models.Post,models.User,Seq[models.Comment]),
pagination:(Option[models.Post],Option[models.Post]),
commentForm: Form[(String, String, String, String)]
)(implicit flash: Flash)

@main(title = post._1.title) {

<ul id="pagination">
    @pagination._1.map { post =>
    <li id="previous">
        <a href="@routes.Application.show(post.id.get)">
            @post.title
        </a>
    </li>
    }
    @pagination._2.map { post =>
    <li id="next">
        <a href="@routes.Application.show(post.id.get)">
            @post.title
        </a>
    </li>
    }
</ul>

@flash.get("success").map { message =>
    <div class="success">@message</div>
}

@display(post, mode = "full")

@helper.form(action = routes.Application.postComment(post._1.id.get)){
	@commentForm.globalError.map { error =>
	    <div class="error">@error.message</div>
	}

	@helper.inputText(commentForm("author"), '_label -> "Your name:", '_showConstraints  -> false)
	@helper.textarea(commentForm("content"), '_label -> "Your message:", '_showConstraints  -> false)
	@helper.inputText(commentForm("code"), '_label -> "Please type the code below:", '_showConstraints  -> false)
	<img src="@routes.Application.captcha(commentForm("randomID").value.get)">
	<input type="hidden" name="randomID" value="@commentForm("randomID").value">
    <p>
        <input type="submit" value="Submit your comment"/>
    </p>
}
}