@(
post:(models.Post,models.User,Seq[models.Comment]),
pagination:(Option[models.Post],Option[models.Post])
)

@main(title = post._1.title) {

<ul id="pagination">
    @pagination._1.map { post =>
    <li id="previous">
        <a href="@routes.Application.show(post.id.get)">
            @post.title
        </a>
    </li>
    }
    @pagination._2.map { post =>
    <li id="next">
        <a href="@routes.Application.show(post.id.get)">
            @post.title
        </a>
    </li>
    }
</ul>

@display(post, mode = "full")

@helper.form(action = routes.Application.postComment(post._1.id.get)){
    <p>
        <label for="author">Your name: </label>
        <input type="text" name="author">
    </p>
    <p>
        <label for="content">Your message: </label>
        <textarea name="content"></textarea>
    </p>
    <p>
        <input type="submit" value="Submit your comment"/>
    </p>
}
}